@charset "UTF-8";

body {
	background-repeat: no-repeat;
	filter: -webkit-blur(5px);
	background-size: cover;

	background-position: center;
}
.centro {
	text-align: center;
}
.pulo h1 {
	text-align: center;
}
.topo h1{
	color: #a9a9a9;
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bold;
	padding-top: 50px;
	margin: 0px;
	position: relative;
	animation: pula 2s infinite;
	-webkit-animation: pula 2s infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	animation-time-function: ease-out;
}
@-webkit-keyframes pula {
	from {
		top: 0;
	}
	to {
		top: 1em;
	}
}
@keyframes pula {
	from {
		top: 0;
	}
	to {
		top: 1em;
	}
}

.topo span {
	color: #004279;
	font-size: 50px;
}
.topo img {
	width: 180px;
	height: 200px;
	border-radius: 100%;
	margin-top: 20px ;
	border: 3px solid #a9a9a9;
}
.menu ul {
	text-align: center;
	color: #004279;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	margin: 100px 0px 0px 0px;
}
.menu li a {
	text-decoration: none;
}

.menu li:hover {
	background-color: #004279;
	transition: 1s;
}
.menu li a:hover {
	color: #fff;
}


.menu li {
	display: inline-block;
	border: 4px solid #004279;
	border-radius: 2px;
	padding: 15px;
}
.sobre {
	margin-top: 10px;
}
.sobre h2 {
	font-size: 45px;
	font-family: sans-serif;
	text-align: center;
	color: #004279;
	font-weight: 700;
}
.sobre h2 {
	
}
.sobre p {
	text-align: center;
	margin-top: 10px;
	color: #a9a9a9;
	font-size: 20px;
	font-weight: bold;
}
.icones img {
	height: 70px;
	width: 70px;
	margin-top: 100px;
}
.branco {
	background-color: gray;
	height: 250px;
}
.habilidades h2{
	color: #004279;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

.habilidades ul  {
	list-style: none;
	text-align: center;
	color: #a9a9a9;
	font-size: 35px;
	font-family: helvetica;
	font-weight: bold;
}
.habilidades li:hover {
	color: gray;
}
footer {
	height: 200px;
	margin-top: 20px;
	text-align: center;
	list-style-type: none;
	color: #a9a9a9;
}
footer h3{
	color: #004279;
	font-weight: 700;
	font-size: 30px;
}

footer  img {
	height: 100px;
	width: 100px;
	padding: 5px;
}
footer p {
	font-size: 20px;
}
.tiago img{
	height: 50px;
	width: 50px;
	margin-top: 60px;
	text-indent: 30px;
}

/*smartphone*/
@media only screen and (max-width: 480px) {
	
	.topo h1{
		font-size: 20px;
	}
	.topo span {
		font-size: 20px;
	}
	.habilidades ul {
		font-size: 15px;
	}

}
@media only screen and (max-width: 520px) {
	.menu li {
		margin-top: 20px;
	}
	.menu li {
		height: 50px;
		width: 150px;
		font-size: 13px;
		display: block;
		margin: 10px auto;
	}
	.habilidades h2 {
		font-size: 20px;
	}
	footer img {
		height: 50px;
		width: 50px;
	}

}

@media only screen and (max-width: 1199px) {
	.topo h1 {
		width: 100%;
		display: block;
		margin-bottom: 15px;
		
	}
	.topo span {
		font-size: 20px;
	}
	
	.image-avatar {
		width: 180px;
		margin: 10px auto;
	}
}

